# Dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/

# Documents
*.docx
*.doc
*.txt
~$*
Template-*

# Data
banco_de_dados.json
dist/
build/

# Environment
.env
.env.local
